[submodule "emacs.d/submodules/open-related-file"]
	path = emacs.d/submodules/open-related-file
	url = https://github.com/skirino/open-related-file.git
[submodule "zsh/auto-fu"]
	path = zsh/auto-fu
	url = https://github.com/skirino/auto-fu.zsh.git
[submodule "emacs.d/submodules/sdic"]
	path = emacs.d/submodules/sdic
	url = https://github.com/emacsattic/sdic.git
[submodule "emacs.d/submodules/emacs-bazel-mode"]
	path = emacs.d/submodules/emacs-bazel-mode
	url = https://github.com/bazelbuild/emacs-bazel-mode.git
[submodule "emacs.d/submodules/coconut-mode"]
	path = emacs.d/submodules/coconut-mode
	url = https://github.com/NickSeagull/coconut-mode
