[submodule "emacs.d/submodules/open-related-file"]
	path = emacs.d/submodules/open-related-file
	url = https://github.com/skirino/open-related-file.git
[submodule "emacs.d/submodules/clojure-mode"]
	path = emacs.d/submodules/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "emacs.d/submodules/nrepl"]
	path = emacs.d/submodules/nrepl
	url = https://github.com/kingtim/nrepl.el.git
[submodule "zsh/auto-fu"]
	path = zsh/auto-fu
	url = https://github.com/skirino/auto-fu.zsh.git
[submodule "emacs.d/submodules/org-html5presentation"]
	path = emacs.d/submodules/org-html5presentation
	url = https://gist.github.com/509761.git
[submodule "emacs.d/submodules/sdic"]
	path = emacs.d/submodules/sdic
	url = https://github.com/emacsattic/sdic.git
